###################### Required variables ######################
URL_ADDRESS=https://gg.wyd.ing


###################### POSTGRES variables ######################
POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_DB=example-db
POSTGRES_USER=example-user
POSTGRES_PASSWORD=example-password
POSTGRES_ECHO=True


###################### tg variables ######################
TG_TOKEN=7060241006:AAEed3T_17_cMKiyMqWU0Ajhwc2ZiRXMWow
TG_WH_SECRET=example-secret-4342342